{% extends "base.html" %} {% block content %}
<h1 class="text-center p-3"> Choose or insert the relative caption</h1>
<div class="w-100">
    <section>
        <div class="container">
            <div class="row no-gutters justify-content-around">

                <div class="col-xs-11 col-sm-11 col-md-5 col-lg-5 bg-image text-center align-items-center my-2">
                    <h2 class="text-center p-1">Dataset captions</h2>

                    <ul class="m-0 p-0">

                        <div class="text-center center-block w-100 border">
                            <form method="POST">
                                <label for="custom_caption"><h4>Try with a custom caption</h4></label>
                                <textarea class='form-control' required="required" style="font-size: large" id='custom_caption' name='custom_caption' rows="3" type="text" placeholder="Insert your caption here">{{reference_name}}</textarea> {% if dataset
                                == "fashionIQ" %}
                                <select class="custom-select custom-select-sm" name="fashion_selection">
                                        <option selected>Open this select menu</option>
                                        <option value="dress">dress</option>
                                        <option value="shirt">shirt</option>
                                        <option value="toptee">toptee</option>
                                </select> {% endif %}
                                <input class="btn btn-primary" type="submit" value="Submit">
                            </form>

                        </div>

                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock content %}