{% extends "base.html" %} {% block content %}
<div class="w-100">
    <section>
        <div class="container">
            <div class="row no-gutters justify-content-around">
                <div class="col-xs-11 col-sm-11 col-md-6 col-lg-6 bg-image my-2 text-center">
                    <h2 class="text-center p-1">Reference Image</h2>
                    <a class="bg-image">
                        <img class="img-fluid image" src="{{ url_for('get_image', dataset=dataset, image_name=reference_name) }}" alt="Frame overview">
                    </a>
                    <div class="text-center center-block w-100 p-4">
                        <!-- The search method -->
                        <div class="row">
                            <div class="col-md-6">
                                <form id="search-method" method="POST" class="d-inline-block">
                                    <label for="search-method"><h4>Search method</h4></label>
                                    <select class="form-control" id="search-method" name="search-method">
                                        <option>Traditional</option>
                                        <option>Qdrant</option>
                                    </select>
                                    
                                </form>
                                <button type="submit" form="search-method" class="btn btn-primary">Select</button>
                            </div>
                        <!-- The submit button -->
                            <div class="col-md-6">
                                <form method="POST" class="d-inline-block">
                                    <label for="custom_caption"><h4>Find similar images</h4></label>
                                    <input type="hidden" id="custom_image" name='custom_image' value="default value">
                                    <input class="btn btn-primary" type="submit" value="Submit">
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
{% endblock content %}